.cell {
    background-color: var(--theme-main);

    display: grid;
    place-items: center;
}

.cell::after {
    display: block;
    content: "";
    
    background-color: var(--theme-contrast) !important;

    z-index: 2;
}
.cell-active::after {
    animation: popup 0.2s forwards;
}

.cell-exit::after {
    animation: exit 0.2s forwards;
}
@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    85% {
        width: 150%;
        height: 150%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes exit {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 0;
        height: 0;
    }
}