* {
  font-family: 'Quicksand', sans-serif;
}
.App {
  --theme-background: #636b7a;
  --theme-main: #282c34;
  --theme-contrast: #61dafb;
  --theme-contrast-light: #b4efff;
  --theme-dark: #1e1e21;
  --theme-dark-transparent: rgb(30, 30, 33, 0.75);
  --font-main: font-family: 'Quicksand', sans-serif;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  background: var(--theme-background);

  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer {
  cursor: pointer;
}