name: Continuous Integration

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout
      uses: actions/checkout@v1

    - name: Build
      run: |
        npm install
        npm run build
      env:
        REACT_APP_GAME_MAP_SIZE_ROWS: ${{ secrets.REACT_APP_GAME_MAP_SIZE_ROWS }}
        REACT_APP_GAME_MAP_SIZE_COLS: ${{ secrets.REACT_APP_GAME_MAP_SIZE_COLS }}

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: build
